---
layout: archive
---

{{ content }}

<h3>Education</h3>

<div>
  <a class="degree"><b>Doctor of Philosophy</b>, Computer Science (Machine Learning)</a>
  <div class="school_year">Simon Fraser University, 2019-2024</div>
  <!-- <div class="note">Under the supervision of Professor <a href="https://www.cs.sfu.ca/~oschulte/">Oliver Schulte</a></div> -->
  <hr>
</div>

<!-- <div>
  <a class="degree"><b>Bachelor of Science</b>, Computer Science</a>
  <div class="school_year">Simon Fraser University, 2012-2015</div>
  <hr>
</div> -->


<h3>Publications</h3>

<div>
  <a href="https://openreview.net/pdf?id=egNzAG9rOu">No $D_{train}$: Model-Agnostic Counterfactual Explanations Using Reinforcement Learning</a> 
  <div class="author_list"><b>Xiangyu Sun</b>, Raquel Aoki, Kevin H. Wilson</div>
  <div class="publisher">TMLR 2025</div>
  <hr> <!-- add a horizontal rule-->
</div>

<div>
  <a href="https://proceedings.neurips.cc/paper_files/paper/2023/file/11715d433f6f8b9106baae0df023deb3-Paper-Conference.pdf">Cause-Effect Inference in Location-Scale Noise Models: Maximum Likelihood vs. Independence Testing</a> 
  <div class="author_list"><b>Xiangyu Sun</b>, Oliver Schulte</div>
  <div class="publisher">NeurIPS 2023 <!-- (acceptance rate 26.1%)--></div>
  <hr> <!-- add a horizontal rule-->
</div>

<div>
  <a href="https://proceedings.mlr.press/v206/sun23c/sun23c.pdf">NTS-NOTEARS: Learning Nonparametric DBNs With Prior Knowledge</a> 
  <div class="author_list"><b>Xiangyu Sun</b>, Oliver Schulte, Guiliang Liu, Pascal Poupart</div>
  <div class="publisher">AISTATS 2023 <!-- (acceptance rate 29%)--></div>
  <hr> <!-- add a horizontal rule-->
</div>

<div>
  <a href="https://papers.nips.cc/paper/2021/file/a35fe7f7fe8217b4369a0af4244d1fca-Paper.pdf">Learning Tree Interpretation from Object Representation for Deep Reinforcement Learning</a> 
  <div class="author_list">Guiliang Liu, <b>Xiangyu Sun</b>, Oliver Schulte, Pascal Poupart</div>
  <div class="publisher">NeurIPS 2021 <!-- (acceptance rate 26%)--></div>
  <hr> <!-- add a horizontal rule-->
</div>

<div>
  <a href="https://dl.acm.org/doi/10.1145/3394486.3403367">Cracking the Black Box: Distilling Deep Sports Analytics</a> 
  <div class="author_list"><b>Xiangyu Sun</b>, Jack Davis, Oliver Schulte, Guiliang Liu</div>
  <div class="publisher">KDD 2020 <!-- (acceptance rate 16%)--></div>
</div>

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %} -->
