---
layout: archive
---

{{ content }}

<h3>Publications</h3>
<div>Cracking the Black Box: Distilling Deep Sports Analytics
  <div class="author_list">(<b>Xiangyu Sun</b>, Jack Davis, Oliver Schulte, Guiliang Liu)</div>
  <div class="publisher">The 26th ACM SIGKDD Conference on Knowledge Discovery and Data Mining (KDD 2020)</div>
  <a href="https://arxiv.org/abs/2006.04551">View</a> 
</div>

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %} -->
