---
layout: archive
---

{{ content }}

<h3>Publications</h3>

<div>
  <a href="https://arxiv.org/pdf/2301.12930.pdf">Cause-Effect Inference in Location-Scale Noise Models: Maximum Likelihood vs. Independence Testing</a> 
  <div class="author_list"><b>Xiangyu Sun</b>, Oliver Schulte</div>
  <div class="publisher">NeurIPS 2023</div>
  <hr> <!-- add a horizontal rule-->
</div>

<div>
  <a href="https://proceedings.mlr.press/v206/sun23c/sun23c.pdf">NTS-NOTEARS: Learning Nonparametric DBNs With Prior Knowledge</a> 
  <div class="author_list"><b>Xiangyu Sun</b>, Oliver Schulte, Guiliang Liu, Pascal Poupart</div>
  <div class="publisher">AISTATS 2023 <!-- (acceptance rate 29%)--></div>
  <hr> <!-- add a horizontal rule-->
</div>

<div>
  <a href="https://papers.nips.cc/paper/2021/file/a35fe7f7fe8217b4369a0af4244d1fca-Paper.pdf">Learning Tree Interpretation from Object Representation for Deep Reinforcement Learning</a> 
  <div class="author_list">Guiliang Liu, <b>Xiangyu Sun</b>, Oliver Schulte, Pascal Poupart</div>
  <div class="publisher">NeurIPS 2021 <!-- (acceptance rate 26%)--></div>
  <hr> <!-- add a horizontal rule-->
</div>

<div>
  <a href="https://arxiv.org/pdf/2006.04551.pdf">Cracking the Black Box: Distilling Deep Sports Analytics</a> 
  <div class="author_list"><b>Xiangyu Sun</b>, Jack Davis, Oliver Schulte, Guiliang Liu</div>
  <div class="publisher">KDD 2020 <!-- (acceptance rate 16%)--></div>
</div>

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %} -->
